* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif ;
    background-color: #181818;
    max-width: 100%;
    overflow-x: hidden;
}

nav {
    margin: 14%;
}

nav h1 {
    font-size: clamp(65px, 6.806vw, 98px);
    color: #F0D800;
    margin-bottom: 16px;
    font-weight: 600;
}

#cursor {
    font-weight: 100;
    font-size: clamp(65px, 6.806vw, 98px);
    color: white;
    animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

nav p {
    color: white;
    font-size: 1.5em;
    font-weight: 400;
}

.cards {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    width: 90%;
    gap: 25px;
}

.col {
    display: flex;
    justify-content: center;
    max-width: min-content;
}

.card {
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: inset 0 -3em 3em rgb(0 0 0 / 30%),
    0.3em 0.3em 1em rgb(0 0 0 / 60%);
    transition: transform 0.3s ease-in-out;
    width: 18rem;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-body {
    background-color: #F0C000;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    height: 150px;
    position: relative;
}

.card-text {
    font-size: 1.7rem;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.card-text:hover {
    color: #303030;
}

.card-text:active {
    font-size: 1.6rem;
}

.HTML {
    color: rgb(4, 0, 255);
    font-size: 1rem;
    font-weight: 700;
    padding-right: 15px;
    position: absolute;
    bottom: 15px;
}

.CSS {
    color: rgb(6, 167, 0);
    font-size: 1rem;
    font-weight: 700;
    padding-right: 15px;
    position: absolute;
    bottom: 15px;
    left: 75px;
}

.JS {
    color: rgb(255, 30, 0);
    font-size: 1rem;
    font-weight: 700;
    padding-right: 15px;
    position: absolute;
    bottom: 15px;
    left: 120px;
}

footer {
    position: relative;
    bottom: 0;
    right: 1%;
    padding-top: 5%;
}

footer img {
    width: 30px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

footer img:hover {
    transform: scale(1.2);
}

footer ul {
    list-style: none;
    display: flex;
    gap: 30px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

@media (max-width: 1500px) {
    .row-cols-xxl-5 > * {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (max-width: 1206px) {
    .row-cols-md-4 > * {
        flex: 0 0 30%;
        max-width: 30%;
    }
  }

@media (max-width: 1022px) {
    .row-cols-md-4 > * {
        flex: 0 0 40%;
        max-width: 40%;
    }
}


@media (max-width: 757px) {
    .row-cols-md-4 > * {
        flex: 0 0 100%;
        max-width: 100%;
      }
}