@use '../utils/variables' as *;
@use '../base/sizing' as *;
@use '../base/typography' as *;
@use '../utils/mixins' as *;


//rating container

.rating-container {
    display: flex;
    flex-direction: column;
    @include responsive-spacing(margin, x, 22px, 5.867vw, 32px);
    @include responsive-spacing(margin, top, 24px, 6.4vw, 32px);
    margin-bottom: 32px;

    .star-icon {
        background-color: $dark-blue;
        border-radius: 50%;
        @include responsive-size(width, 40px, 10.667vw, 48px);
        @include responsive-size(height, 40px, 10.667vw, 48px);
        @include responsive-spacing(margin, bottom, 16px, 4.267vw, 30px);
        line-height: 5.997vh;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        #star {
            @include responsive-size(width, 13.96px, 3.723vw, 16.75px);
            height: auto;
        }
    }

    input[type="radio"] {
        position: absolute;
        opacity: 0;
    }
    #rating-form {
        margin-top: 24px;

        .rating {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            @include responsive-spacing(column-gap, all, 17px, 4.533vw, 21px);


            label {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: $dark-blue;
                @include responsive-size(width, 42px, 11.2vw, 51px);
                @include responsive-size(height, 42px, 11.2vw, 51px);
                @include rating;
                border-radius: 50%;
                text-align: center;
                cursor: pointer;
            }

            input[type="radio"]:hover + label {
                background-color: $white;
                color: $dark-blue;
            }

            input[type="radio"]:checked + label {
                background-color: $orange;
                color: $dark-blue;
            }
        }
        button {
            width: 100%;
            height: 45px;
            @include responsive-spacing(margin, top, 24px, 3.598vh, 32px);
            border-radius: 22.5px;
            border: none;
            background-color: $orange;
            @include heading-medium;
            color: $very-dark-blue;
            cursor: pointer;
    
            &:active {
                background-color: $white;
            }
        }
    }
}

//feedback container

.feedback-container {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    @include responsive-spacing(margin, x, 22px, 5.867vw, 32px);
    @include responsive-spacing(margin, y, 22px, 5.867vw, 45px);

    img {
        @include responsive-size(width, 144px, 38.4vw, 162px);
        height: auto;
    }

    #feedback {
        @include responsive-size(width, 168px, 44.8vw, 193px);
        @include responsive-spacing(margin, y, 24px, 3.598vw, 32px);
        height: 32px;
        background-color: $dark-blue;
        color: $orange;
        @include body;
        border-radius: 22.5px;
        padding: 6px 0;
    }
}

//common

#rating-title {
    margin-bottom: 17px;
}

#feedback-title {
    margin-bottom: 10px; 
}

#rating-title, #feedback-title {
    @include heading-large;

    @include breakpoint(tablet) {
        margin-bottom: 7px;
    } 
}

.text {
    @include body;
    color: $light-grey;
}